<div class="container">
    <h1 >Welcome to Kneeslapp!</h1>
        <p class="lead">Kneeslapp is a web based application with the comedian in mind. Whether you're just starting, or have been at it for a while, we thought it would be helpful to give our users an environment to gather, track, and edit their bit to perfection!</p>
        <br>
        <p><a href="/signup" class="btn btn-primary btn-lg center-block">Sign up to get started</a></p>
        <br>
        <p>Already a member? <br><a href="/login" class="btn btn-primary btn-lg center-block">Login Here!</a></p>
    
</div>